h1 {
    font-family: 'Roboto Slab';
    font-size: xxx-large;
}
h2 {
    font-family: "Roboto Condensed";
    font-size: xx-large;
    font-weight: 800;
}
html {
    width: 100%;
    margin: 0 auto;
    font-family: "Roboto Flex";
    font-weight: 300;
    font-size: large;
    max-width: 1440px;
}
a {
    text-decoration: none;
    color: inherit;
}
.ibeton_logo {
    margin-top: -0.3em;
    font-family: 'Roboto Slab';
    font-size: 3.8em;
    font-weight: 800;
}
.header {
    /*background-color: #f2f2f2;*/
    margin: 0.5em 1em 0.5em 1em;
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.header_logo {
    margin: 0.5em 0 0.5em 1em;
    display: flex;
    width: 50%;
    flex-direction: column-reverse;
    align-items: center;
    /*gap: 2em;*/
}
.logo-slogan {
    font-size: x-large;
    margin-top: -0.8em;
}
.header_buttons {
    margin-right: 1.5em;
    display: flex;
    width: 50%;
    flex-direction: column;
    gap: 1em;
    align-items: flex-end;
}
.phone_button {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: x-large;
    color: white;
    background-color: deepskyblue;
    border-radius: 0.3em;
    border: solid 0.1em lightsteelblue;
    padding: 0.3em 0.5em;
}
.phone_button:hover {
    background-color: white;
    color: deepskyblue;
    cursor: pointer;
}
.phone_button:active {
    background-color: deepskyblue;
}
.button_img {
    align-items: flex-start;
}
.phone_back {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: x-large;
    background-color: limegreen;
    color: white;
    border-radius: 0.3em;
    border: solid 0.1em lightsteelblue;
    padding: 0.3em 0.5em;
}
.phone_back:hover {
    background-color: white;
    color: limegreen;
    cursor: pointer;
}
.phone_back:after {
    background-color: limegreen;
}
.nav_menu {
    list-style-type: none;
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.navigation {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    background-color: deepskyblue;
}
.menu_item {
    font-size: x-large;
    font-weight: 400;
    color: white;
    transition: 1s;
}
.menu_item:hover {
    transform: scale(1.05);
    border-bottom: white solid 2px;
    cursor: pointer;
}